{%-assign var = true | sort-%}
{%-assign var=true | sort-%}
{%-assign var=true| sort-%}
{%-assign var=true|sort-%}

{%render 'snippet'%}
{%render 'snippet' %}
{% render 'snippet'%}
{% render 'snippet' %}
{% render  'snippet' %}
{% render
    'snippet' -%}
        {% render 'snippet' %}


{%- assign variable = 'value' | append: ' ' | sort -%}
{%- assign variable = 'value' | append: ' ' -%}
{%- assign variable = 'value' -%}

{%- for value in array -%}
    <p>{{ value }}</p>

    {%- if value == 12 %}
        <p>{{ array }}</p>
        <hr>
    {% endif -%}

    <hr>
{%- endfor -%}
